@media print
{
  body { -webkit-print-color-adjust: exact; width: 1010px; height: 427px;}
  #hide { display: none; }
  #print_paper { display: none; }
}


#print_paper, #generate_paper { margin-top:20px; }


.container {
    min-width: 1010px;
    max-width: 1010px;
}


.output {
    min-width: 1010px;
    margin:0;
    padding:0;
}


#paperkeyarea { width:1010px;
    display:block;
    position:relative;
}


#paperbg {width:1010px;
    border: 0;
    margin: 0;
    padding: 0;
    left: 0;}


.qr, .qr canvas, .qr img {
    width:150px;
    height:150px;
}


.qr {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


#qrcode_private {
    top:37px;
    left: 420px;
    z-index:100;
    margin:0;
    float:none;
    display:block;
    position:absolute;

}


#qrcode_address {
    top:245px;
    left: 772px;
    z-index:100;
    margin:0;
    float:none;
    display:block;
    position:absolute;

}


#paper_priv {
    /*border:1px solid black;*/
    position: absolute;
    top: 86px;
    left: 552px;
    z-index: 100;
    font-size: 10px;
    background-color: transparent;
    font-weight: 100;
    color: #000000;
    margin: 0;
    width: 158px;
    height: 50px;
    text-align: center;
    word-wrap: break-word;
    font-family: Courier, monospace;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: Courier, monospace;
}


#paper_pub {
    /*border:1px solid black;*/
    position: absolute;
    bottom: 82px;
    left: 894px;
    z-index: 100;
    font-size: 10px;
    background-color: transparent;
    font-weight: 100;
    color: #000000;
    margin: 0;
    width: 158px;
    height: 50px;
    text-align: center;
    word-wrap: break-word;
    font-family: Courier, monospace;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: Courier, monospace;
}
